<div class="container">
	<hr>
	<div class="row">
		<div class="col-md-12">
			<div class="col-md-8">
				<a href="#">Github</a>
				<a href="#">Slack</a>
				<a href="#">Google</a>
			</div>
			<div class="span4">
				<p class="muted pull-right">© Copyright 2017 JD Store. All rights reserved. Design by Antarts </p>
			</div>
		</div>
	</div>
</div>
