<div id="gotop"></div>
<footer id="footer">
  <div class="container">
    <div class="row">
    	<div class="col-md-12">
			<div class="col-md-2">
				<ul class="unstyled">
					<li><a href="#">GitHub</a></li>
				</ul>
			</div>
			<div class="col-md-2">
				<ul class="unstyled">
					<li><a href="#">Services</a></li>
				</ul>
			</div>
			<div class="col-md-2">
				<ul class="unstyled">
					<li><a href="#">FQA</a></li>
				</ul>
			</div>
			<div class="col-md-2">
				<ul class="unstyled">
					<li><a href="#">About us</a></li>
				</ul>
			</div>
			<div class="col-md-2">
				<ul class="unstyled">
					<li><a href="mailto:example@mail.com">Support</a></li>
				</ul>
			</div>
			<div class="col-md-2">
				<ul class="unstyled">
					<li><a href="mailto:example@mail.com">Contact us</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="col-md-8">
				<p class="muted pull-lift">Design by Antarts</p>
			</div>
			<div class="span4">
				<p class="muted pull-right">© Copyright 2017 JD Store. All rights reserved</p>
			</div>
		</div>
	</div>
</div>
</footer>
